
@{
    ViewData["Title"] = "Diagnose";
}
@using (Html.BeginForm("Diagnose", "Home", FormMethod.Post))
{
    <div style="margin-top:5px; line-height:120px;">
        <div class="square" name="option">
            <span style="font-size:22px;">Environment</span>
        </div>
        <div class="square" name="option">

            <span style="font-size:22px;">Application</span>
        </div>
        <div class="square" name="option">
            <span style="font-size:22px;">MSMQ</span>
        </div>
        <div class="square" name="option">
            <span style="font-size:22px;">FDIM</span>
        </div>
        <div class="square" name="option">
            <span style="font-size:22px;">BRE</span>
        </div>
        <div class="square" name="option">
            <span style="font-size:22px;">Docker</span>
        </div>
        <div class="greenSquare" name="option">

            <span style="font-size:22px;">Diagnose</span>
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        $('div[name=option]').hover(
            function () { $(this).addClass("hover"); },
            function () { $(this).removeClass("hover"); }
        );

        $('div[name=option]').hover(
            function () { $(this).addClass("hover"); },
            function () { $(this).removeClass("hover"); }
        );
    });
</script>